* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.primary-button {

    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    padding: 15px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

/* nav related style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    padding-top: 20px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    padding-left: 10px;
}

.color {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 51px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* Header related styles */
.header {
    background: #f6efe9;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 70px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 500px;
}

.banner1 {
    max-width: 872px;
    /* padding: 10px 30px;  */
}

.heading1 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 10px;
}

.heading2 {
    color: #181818;
    font-size: 85px;
    font-weight: 700;

}

.para1 {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    padding-top: 10px;
    padding-bottom: 15px;
}

.button1 {
    margin-right: 20px;
}

/* about section style */

.about {
    padding: 150px;
    border-radius: 10px;
    background: #faf5f1;
    margin: 130px 0px;

}

.about-heading {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}

.about-para {

    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    /* line-height: 30px; */

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-info-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.about-title {
    text-align: center;
}

.about-description {
    text-align: center;
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}